*{
    padding:0;
    margin: 0;
}
body{
    background-image: linear-gradient(rgba(12, 12, 12, 0.8),rgba(0,0,0,0.8)),url("pop.png");
    background-position:center;
    background-size:cover;   
}
.logo{
width: 150px;
margin-top: 18px;
}
.header{
    height: 10%;

}
.header-btn{
    text-decoration: none;
    border-radius: 30px;
    padding: 7px 20px ;
    float:right;
    margin-top: 15px;
    color: #fff !important;
    background: #107afd;
    font-weight: 600;
}

.movie-details{
    margin:3% 0;
}

.left-box{
    color:#fff;
    padding:20px;
}


.casting img{
    height:40px;
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.left-box a{
    text-decoration: none;
    border-radius: 30px;
    padding: 7px 20px ;
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;
    color: #fff !important;
    background: #107afd;
    font-weight: 600;   
}
.download-btn{
    border:1px solid #fff !important;
    background: transparent !important;

}

.movie-img{
    height:250px;
    box-shadow: -40x 4px 5px 0 rgb(163, 223, 168);
}
.series h3{
    color: #fff;
}

.series img{
    width: 100%;
}